@page
@model FiveSTAR_tracking.Pages.Tasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projects</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Projects.TaskName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projects.TaskName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projects.Task_Est_Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projects.Task_Est_Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projects.Task_Act_Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projects.Task_Act_Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projects.idVendor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projects.idVendor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projects.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projects.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projects.HoursWorked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projects.HoursWorked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projects.idUsers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projects.idUsers)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Projects.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
